body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Poppins', Arial, sans-serif; /* Added Poppins font with fallback */
}

.navbar {
    width: 100%;
    background-color: #007BFF;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 25px; /* Round border radius */
    margin: 0 5px;
    font-family: 'Poppins', sans-serif;
}

.navbar a:hover {
    background-color: #0056b3;
}

#github__logo {
    scale: 1.5;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 100%;
    margin: 0px auto; /* Add margin to center the container vertically */
}

h1 {
    margin-bottom: 40px;
}

#array-container {
    max-width: 100%;
    
}

.bar {
    display: inline-block;
    background-color: #007BFF;
    border-radius: 5px;
    margin: 0 1px;
    width: 20px; /* Adjust the width of the bars */
    height: 100px; /* Adjust the initial height of the bars */
}

.bar-highlighted {
    background-color: red;
}

.bar-non-highlighted {
    background-color: #007BFF;
}


.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #004080;
    transform: scale(0.95);
}
